/* Exo 2, Roboto, Noto Sans Japanese */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.__font_exo2 {
  font-family: "Exo 2", sans-serif;
}

body {
  font-family: "Roboto", "Noto Sans JP", "Yu Gothic", "MS PGothic", sans-serif;
}

.__containerAll {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100svh;
}

.__containerMainVisual::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation-name: fadeBottomToUpper;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  content: "";
}

@keyframes fadeBottomToUpper {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100%, 0);
    display: none;
  }
}

header {
  flex: 0 0 5svh;
  display: grid;
  grid-template-columns:
    1fr minmax(50px, 400px) minmax(50px, 400px)
    minmax(50px, 400px) minmax(50px, 400px) 1fr;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 5svh;
}

.__global-menu {
  display: flex;
  align-items: center;
  grid-column: 2 / 6;
  justify-content: end;
}

.__global-menu ul {
  display: flex;
}

.__global-menu li {
  list-style: none;
  padding: 0 1rem;
}

.__containerMain {
  display: grid;
  grid-template-columns:
    1fr minmax(50px, 400px) minmax(50px, 400px)
    minmax(50px, 400px) minmax(50px, 400px) 1fr;
  grid-column: 1 / -1;
  padding-top: 5svh;
}

div.__hero {
  grid-column: 1 / -1;
  height: 95svh;
}

.__catchCopyGroup {
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  animation-name: fontWhiteToBlack;
  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  text-wrap: nowrap;
}

@keyframes fontWhiteToBlack {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

.__companyNameGroup {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.__companyNameEnglish {
  font-size: 10rem;
  font-weight: 600;
}

.__companyNameJapanese {
  font-size: 2rem;
  font-weight: 600;
  align-self: end;
}

.__companyCatchCopy {
  font-size: 2.5rem;
  font-weight: 600;
}

div.__left {
  grid-column: 2 / 4;
  background-color: red;
}

div.__right {
  grid-column: 4 / 6;
  background-color: yellow;
}

footer {
  background-color: lightgray;
}

@media (max-width: 1024px) {
  .__companyNameEnglish {
    font-size: 8rem;
  }

  .__companyNameJapanese {
    font-size: 1.4rem;
  }

  .__companyCatchCopy {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .__companyNameEnglish {
    font-size: 4rem;
  }

  .__companyNameJapanese {
    font-size: 0.9rem;
  }

  .__companyCatchCopy {
    font-size: 1.2rem;
  }
}
