.__containerAll {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100svh;
}

.__containerMainVisual::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation-name: fadeBottomToUpper;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  content: "";
}

@keyframes fadeBottomToUpper {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100%, 0);
  }
}

header {
  flex: 0 0 5svh;
  display: grid;
  grid-template-columns:
    1fr minmax(50px, 400px) minmax(50px, 400px)
    minmax(50px, 400px) minmax(50px, 400px) 1fr;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 5svh;
}

.__global-menu {
  display: flex;
  align-items: center;
  grid-column: 2 / 6;
  justify-content: end;
}

.__global-menu ul {
  display: flex;
}

.__global-menu li {
  list-style: none;
  padding: 0 1rem;
}

.__containerMain {
  display: grid;
  grid-template-columns:
    1fr minmax(50px, 400px) minmax(50px, 400px)
    minmax(50px, 400px) minmax(50px, 400px) 1fr;
  grid-column: 1 / -1;
  padding-top: 5svh;
}

div.__hero {
  grid-column: 1 / -1;
  height: 95svh;
}

div.__left {
  grid-column: 2 / 4;
  background-color: red;
}

div.__right {
  grid-column: 4 / 6;
  background-color: yellow;
}

footer {
  background-color: lightgray;
}
